$am-btn-min-width: 88px !default;
$am-btn-padding: 12px 8px !default;
$am-btn-border-radius: 2px !default;
$am-btn-focus-color: rgba(#999, 0.2) !default;
$am-btn-active-color: rgba(#999, 0.4) !default;

@mixin am-btn {
  @include am-type-btn;
  @include am-color(text);
  background: transparent;
  border-radius: $am-btn-border-radius;
  border: 0;
  cursor: pointer;
  display: inline-block;
  line-height: 18px;
  margin: 4px;
  padding: $am-btn-padding;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  transition: 0.25s all;
  user-select: none;
  vertical-align: center;

  &:focus {
    outline: none;
  }

  &:hover {
    @include am-color(primary);
    text-decoration: none;
  }
}

@mixin am-btn-raised {
  @include am-type-smooth;
  @include am-fill(primary);
  @include am-color(white);
  box-shadow: 0 0 2px rgba(#000, 0.12);
  font-weight: $am-font-weight-semi-bold;
  min-width: $am-btn-min-width;

  &:focus,
  &:hover {
    @include am-color(text-light);
    background: am-lighten(primary, 10%);
    outline: none;
  }

  &:active {
    background: am-lighten(primary, 5%);
    box-shadow: inset 0 1px 0 rgba(#fff, 0.2);
  }
}

@mixin am-btn-disabled {
  opacity: 0.4;
}
