/**
 * Subheader
 * Used for sidebar headings and other secondary content
 * which require title text
 */

%subheader {
  color: $theme-secondary-text;
  font-size: sp(14);
  font-weight: 500;
  padding: unit(2);
  line-height: unit(2);
}
