/**
 * Subheader
 * Used for sidebar headings and other secondary content
 * which require title text
 */

@mixin am-subheader {
  @include am-font-size(14);
  @include am-color(secondary-text);
  font-weight: $am-font-weight-medium;
  padding: am-unit(2);
  line-height: am-unit(2);
}
