/**
 * Tables
 */

$table-background: #fff !default;
$table-border-color: $theme-divider !default;

%table {
  background: $table-background;
  width: 100%;
  word-break: break-word;
}

%table-header {
  border-bottom: 1px solid $table-border-color;
  display: flex;
  padding: unit(2);
}

%table-column-heading {
  color: $theme-secondary-text;
  border-bottom: 1px solid $table-border-color;
  font-size: 13px;
  font-weight: 600;
  line-height: unit(2);
  height: unit(6);
  padding: unit(1) unit(2);
  text-align: left;
  white-space: nowrap;
}

%table-sort {
  position: relative;

  &:after {
    border: 5px solid transparent;
    margin-left: $unit-type;
    content: "";
    margin-top: -1.5px;
    position: absolute;
    top: 50%;
    right: -15px;
    width: 0;
    height: 0;
  }
}

%table-sort-asc:after {
  border-bottom-color: $theme-primary;
  margin-top: -7.5px;
}

%table-sort-desc:after {
  border-top-color: $theme-primary;
}

%table-row {
  height: unit(6);
  transition: 0.12s background;
}

%table-row-hover {
  background: #eee;

  td,
  th {
    box-shadow: 0 -1px 0 rgba(#000, 0.05);
    border-bottom: 1px solid darken($table-border-color, 5%);
  }
}

%table-row-selected {
  background: #e0e0e0;

  td,
  th {
    box-shadow: 0 -1px 0 rgba(#000, 0.15);
    border-bottom: 1px solid darken($table-border-color, 15%);
  }
}

%table-cell {
  border-bottom: 1px solid $table-border-color;
  color: $theme-text;
  font-size: 13px;
  font-weight: 400;
  padding: unit(1) unit(2);

  img {
    display: block;
    max-width: 320px;
  }
}

%table-cell-selectable {
  padding: unit(2) unit(3) unit(2);
  width: 18px + unit(6);

  [type=checkbox] {
    display: inline-block;
    height: 18px;
    margin: 0;
    vertical-align: middle;
    width: 18px;
  }
}

%table-cell-actions {
  background: asset_url("icons/more.svg") 25% 50% no-repeat;
  position: relative;
  width: unit(6);
}
