@mixin am-tag {
  @include am-fill(secondary-text);
  @include am-type-caption;
  @include am-type-smooth;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  letter-spacing: 0.1em;
  line-height: am-unit(2);
  padding: am-unit(0.5) am-unit(1);
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

@mixin am-tag-pressable {
  transition: 0.2s all;

  &:hover,
  &:focus {
    box-shadow: 0 1px 1px rgba(#000, 0.22);
    text-shadow: none;
  }

  &:active {
    box-shadow: none;
  }
}

@mixin am-tag-success {
  @include am-fill(primary);
}

@mixin am-tag-error {
  @include am-fill(error);
}
