/**
 * Textfield
 * Character inputs, for simple form fields
 */

$textfield-input-type  : normal sp(14)/24px $font-sans !default;
$textfield-label-type  : 400 sp(12)/unit(2) $font-sans !default;
$textfield-margin      : unit(1) 0 !default;
$textfield-padding     : unit(1) unit(2) !default;
$textfield-error-color : $theme-error !default;
$textfield-color       : rgba(#000, 0.70) !default;
$textfield-primary     : $theme-primary !default;

%textfield {
  color: $textfield-color;
  margin: $textfield-margin;
  padding: $textfield-padding;
  position: relative;
}

%textfield-input {
  background: #fff;
  border: 0;
  border: 1px solid #d3d3d3;
  border-radius: 3px;
  box-shadow: inset 1px 1px 1px rgba(#222, 0.08);
  display: block;
  font: $textfield-input-type;
  margin: 0;
  padding: unit(1);
  transition: 0.35s border-color, 0.35s box-shadow;
  width: 100%;

  &:focus {
    border-color: $theme-primary;
    outline: 0;
    transition: 0.15s border-color, 0.15s box-shadow;
  }
}

%textfield-input-email {
  background: #fff asset-url("icons/email.svg") unit(1) 50% no-repeat;
  padding-left: unit(5);
}

%textfield-input-password {
  background: #fff asset-url("icons/secret.svg") unit(1) 50% no-repeat;
  padding-left: unit(5);
}

%textfield-input-date {
  background: #fff asset-url("icons/event.svg") unit(1) 50% no-repeat;
  padding-left: unit(5);
}

%textfield-textarea {
  border-radius: 2px;
  height: sp(unit(7));
  padding: unit(1);
}

%textfield-input-error {
  border-color: $textfield-error-color;
  box-shadow: 0 1px 0 0 $textfield-error-color;
}

%textfield-label {
  color: $theme-secondary-text;
  display: block;
  font-size: sp(13);
  line-height: 16px;
  margin-bottom: 8px;
  position: relative;
  transition: 0.28s all;
  width: 100%;

  .has-focus & {
    color: $textfield-primary;
  }
}

%textfield-hint {
  @extend %type-caption;
  color: $theme-secondary-text;
  margin: unit(1) 0 0;
}

%textfield-hint-error {
  @extend %type-caption;
  color: $textfield-error-color;
  display: inline-block;
  margin: $unit-type 0 0;
  vertical-align: middle;
  transition: 0.3s all;

  &:first-letter {
    text-transform: uppercase;
  }
}

%textfield-required {
  @extend %type-caption;
  border: 0;
  color: $textfield-primary;
  margin-left: 4px;
}

%textfield-inline {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

%textfield-label-inline {
  width: 100%;
}

%textfield-input-inline {
  flex: 1;
  width: auto;
}
