/**
 * Toolbar
 * A basic navigation element, primary used for top level navigation
 */

$toolbar-base-font-size  : sp(14) !default;
$toolbar-title-font-size : sp(20) !default;
$toolbar-keyline-small   : 56px !default;
$toolbar-keyline-medium  : $toolbar-keyline-small + 8px !default;

%toolbar {
  @extend %type-smooth;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  font-size: $toolbar-base-font-size;
  position: relative;
}

%toolbar-primary {
  background: $theme-primary;
  box-shadow: inset 0 -1px 1px rgba(#000, 0.14);
  color: $theme-text-reverse;
}

%toolbar-title {
  font-size: $toolbar-title-font-size;
  font-weight: 500;
  line-height: unit(2);
  padding: unit(2);
  width: 100%;
  text-align: left;

  @include min-breakpoint($breakpoint-medium) {
    width: auto;
  }
}

%toolbar-list {
  margin: 0 0 0 unit(2);
  padding: 0;
  text-align: left;
}

%toolbar-item {
  @extend %link-no-decoration;
  display: inline-block;
  color: $theme-text;
  font-weight: 500;
  line-height: unit(3);
  margin: 0;
}

%toolbar-item-primary {
  @extend %link-no-decoration;
  color: $theme-text-reverse;
  display: block;
  line-height: unit(2);
  padding: unit(2) unit(1);
  text-align: center;

  &:hover,
  &:focus {
    color: $theme-accent;
  }
}

%toolbar-item-primary-active {
  color: $theme-accent;
  font-weight: 600;
}
