////
/// Drawer
/// Left oriented high level navigation
/// https://www.google.com/design/spec/patterns/navigation-drawer.html
///
/// @group drawer
////

/// The width of the navigation drawer
$am-drawer-width: am-unit(32) !default;

/// The point in which the navigation toggle appears
$am-drawer-breakpoint: $am-breakpoint-large !default;

/// The color of the backdrop
$am-drawer-backdrop-color: rgba(black, 0.2) !default;

/// The background image for the sidebar
$am-drawer-background: $am-theme-primary !default;

@keyframes am-drawer-backdrop-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes am-drawer-in {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@mixin am-drawer {
  @include am-fill(white);
  @include am-fillspace;
  box-shadow: inset -1px 0 am-color(divider);
  overflow: scroll;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: $am-drawer-width;
  z-index: 100;

  @media screen and (max-width: $am-drawer-breakpoint) {
    box-shadow: 1px 0 3px rgba(black, 0.2);
    max-width: am-unit(40);
    position: fixed;
    width: calc(100% - #{ am-unit(7) });
  }
}

@mixin am-drawer-open {
  @include am-not-hidden(fixed);
  animation: 0.3s am-drawer-in cubic-bezier(.07,.64,.48,1);
}

@mixin am-drawer-backdrop {
  @include am-fillspace(fixed);
  animation: 0.3s am-drawer-backdrop-in;
  background: $am-drawer-backdrop-color;
  z-index: 100;
}

@mixin am-drawer-title {
  @include am-type-title;
  @include am-color(white);
  background: $am-drawer-background;
  box-shadow: inset -1px 0 0 rgba(black, 0.5);
  font-weight: 400;
  line-height: am-unit(3);
  padding: am-unit(12) am-unit(2) am-unit(3);
  position: relative;
  text-shadow: 0 1px 2px rgba(black, 0.2);
}

@mixin am-drawer-item {
  @include am-color(black);
  display: block;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: am-tracking(-5);
  line-height: am-unit(2);
  padding: am-unit(1) am-unit(2);

  &:hover,
  &:focus {
    @include am-color(black);
    @include am-fill(divider);
    text-decoration: none;
  }
}

@mixin am-drawer-secondary-item {
  font-weight: 400;
  font-size: 12px;
  padding: am-unit(0.75) am-unit(2) am-unit(0.7) am-unit(3);
}

@mixin am-drawer-item-active {
  @include am-color(accent);
  font-weight: 500;
}
