$am-fieldset-bg: white !default;
$am-fieldset-gap: am-unit(3) !default;
$am-fieldset-border: 1px solid #d9d9d9 !default;

@mixin am-fieldset {
  background: $am-fieldset-bg;
  border: $am-fieldset-border;
  border-width: 0 1px 1px;
  margin: 0 $am-fieldset-gap;
  box-shadow: 0 1px 2px rgba(black, 0.07);
  padding-bottom: am-unit(1);
  position: relative;

  &:first-child,
  &:first-of-type {
    border-width: 1px;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
  }

  &:last-child {
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
  }
}
