/**
 * Snackbars
 * Material design notifications
 * http://www.google.com/design/spec/components/snackbars-toasts.html
 */

/// Background color of the message
$am-snackbar-background: #323232 !default;
/// Text color of the message
$am-snackbar-color: am-color(text-light) !default;
/// Minimum width of the message
$am-snackbar-min-width: 288px !default;
/// Maximum width of the message
$am-snackbar-max-width: 548px !default;
/// Animation duration, greater times will leave the message open longer
$am-snackbar-duration: 9s !default;
/// Border radius of the top of the message
$am-snackbar-border-radius: $am-radius-default !default;

@keyframes am-alert-hide {
  0% {
    transform: translate(-50%, 100%);
  }

  7% {
    transform: translate(-50%, 0);
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@mixin am-snackbar {
  @include am-type-smooth;
  animation: $am-snackbar-duration am-alert-hide;
  animation-fill-mode: forwards;
  background: $am-snackbar-background;
  border-top-left-radius: $am-snackbar-border-radius;
  border-top-right-radius: $am-snackbar-border-radius;
  bottom: 0;
  color: $am-snackbar-color;
  font-size: 14px;
  left: 50%;
  line-height: 18px;
  max-width: 568px;
  min-width: 288px;
  padding: 14px 24px;
  position: fixed;
  transform: translateX(-50%);
  transform-origin: 50% 100%;
  text-shadow: 0 1px 1px rgba(black, 0.24);
}
