/**
 * Tables
 */

$am-table-background: #fff !default;
$am-table-border-color: am-color(divider);

@mixin am-table {
  background: $am-table-background;
  width: 100%;
  word-break: break-word;
}

@mixin am-table-header {
  box-shadow: inset 0 -1px 0 $am-table-border-color;
}

@mixin am-table-column-heading {
  @include am-color(secondary-text);
  @include am-font-size(12px);
  box-shadow: inset 0 -1px 0 $am-table-border-color;
  font-weight: 600;
  height: am-unit(6) - 1px;
  line-height: am-unit(2);
  padding: 0 am-unit(7) 0  0;
  text-align: left;
  white-space: nowrap;

  &:first-child {
    padding-left: am-unit(2);
    padding-right: am-unit(2);

    @media screen and (min-width: $am-breakpoint-medium) {
      padding-left: am-unit(3);
    }
  }
}

@mixin am-table-sort {
  @include am-link(secondary-text);
  position: relative;

  &:after {
    border: 2px solid;
    border-width: 2px 2px 0 0;
    margin-left: $am-unit-type;
    content: "";
    margin-top: -4px;
    position: absolute;
    top: 50%;
    right: -15px;
    height: 6px;
    width: 6px;
    transform: rotateZ(135deg);
  }
}

@mixin am-table-sort-asc {
  &:after {
    border-width: 0 0 2px 2px;
    margin-top: -1px;
  }
}

@mixin am-table-row {
  height: am-unit(6);
  transition: 0.12s background;
}

@mixin am-table-row-hover {
  background: #eee;

  td,
  th {
    box-shadow: 0 -1px 0 rgba(#000, 0.05), inset 0 -1px 0 darken($am-table-border-color, 5%);
  }
}

@mixin am-table-row-selected {
  background: #F5F5F5;

  td,
  th {
    box-shadow: 0 -1px 0 rgba(#000, 0.07), inset 0 -1px #DEDEDE;
  }
}

@mixin am-table-cell {
  @include am-color(text);
  @include am-font-size(12px);
  box-shadow: inset 0 -1px 0 $am-table-border-color;
  font-weight: 400;
  line-height: am-unit(2);
  min-width: am-unit(14);
  padding: am-unit(0.5) am-unit(2) am-unit(0.5) 0;

  img {
    display: block;
    max-width: 320px;
    margin: am-unit(1);
  }

  &:first-child {
    padding-left: am-unit(2);
    padding-right: am-unit(2);

    @media screen and (min-width: $am-breakpoint-medium) {
      padding-left: am-unit(3);
    }
  }
}

@mixin am-table-cell-selectable {
  min-width: 0;
  padding: 0 am-unit(3);
  width: 66px;

  [type=checkbox] {
    display: block;
    height: 14px;
    margin: 0 auto;
    vertical-align: middle;
    width: 14px;
  }
}

@mixin am-table-cell-actions {
  background: asset_url("active_material/icons/more.svg") 25% 50% no-repeat;
  position: relative;
  width: am-unit(6);
  min-width: 0;
  padding: 0;
}
