////
/// Textfield
/// Character inputs, for simple form fields
/// @group textfield
////

/// Textfield margin.
$am-textfield-margin: 0 !default;
/// Textfield padding.
$am-textfield-padding: am-unit(1) am-unit(2) !default;
/// Textfield error color.
$am-textfield-error-color: $am-theme-error !default;
/// Textfield color.
$am-textfield-color: rgba(#000, 0.70) !default;
/// Textfield highlight color.
$am-textfield-primary: am-color(primary) !default;
/// Icon for email fields.
$am-textfield-email-icon: asset-url("active_material/icons/email.svg") !default;
/// Icon for password fields.
$am-textfield-password-icon: asset-url("active_material/icons/secret.svg") !default;
/// Icon for date fields.
$am-textfield-date-icon: asset-url("active_material/icons/event.svg") !default;

@mixin am-textfield {
  color: $am-textfield-color;
  margin: $am-textfield-margin;
  padding: $am-textfield-padding;
  position: relative;
}

@mixin am-textfield-input {
  background: transparent;
  box-shadow: inset 0 -1px 0 am-color(divider);
  border: 0;
  display: block;
  font-size: am-sp(14);
  font-weight: normal;
  line-height: am-unit(3);
  margin: 0;
  padding: am-type-unit(1) 0;
  position: relative;
  transition: 0.15s box-shadow;
  width: 100%;

  &:focus {
    box-shadow: inset 0 -2px 0 am-color(primary);
    outline: 0;
  }
}

@mixin am-textfield-input-date {
  background: transparent $am-textfield-date-icon 0 50% no-repeat;
  padding-left: am-unit(3.5);
}

@mixin am-textfield-textarea {
  border-radius: $am-radius-default;
  height: am-sp(am-unit(7));
  padding: am-unit(1);
}

@mixin am-textfield-input-error {
  border-color: $am-textfield-error-color;
  box-shadow: 0 2px 0 0 $am-textfield-error-color;
}

@mixin am-textfield-label {
  @include am-font-size(13);
  @include am-color(secondary-text);
  display: block;
  line-height: am-unit(2);
  font-weight: 400;
  margin: am-unit(1) 0 0;
  width: 100%;
}

@mixin am-textfield-hint {
  @include am-type-caption;
  @include am-color(secondary-text);
  margin: 0;
}

@mixin am-textfield-hint-error {
  @include am-type-caption;
  color: $am-textfield-error-color;
  display: inline-block;
  vertical-align: middle;
  transition: 0.3s all;

  &:first-letter {
    text-transform: uppercase;
  }
}

@mixin am-textfield-required {
  @include am-type-caption;
  border: 0;
  color: $am-textfield-primary;
  line-height: inherit;
  margin-left: 4px;
}

@mixin am-textfield-inline {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

@mixin am-textfield-label-inline {
  flex-basis: 100%;
}

@mixin am-textfield-input-inline {
  flex-basis: 100%;
}
