/**
 * Toolbar
 * A basic navigation element, primary used for top level navigation
 */

$am-toolbar-base-font-size  : am-sp(14) !default;
$am-toolbar-title-font-size : am-sp(20) !default;
$am-toolbar-keyline-small   : am-unit(7) !default;
$am-toolbar-keyline-medium  : $am-toolbar-keyline-small + 8px !default;

@mixin am-toolbar {
  @include am-fill(primary);
  @include am-color(white);
  display: flex;
  font-size: $am-toolbar-title-font-size;
  font-weight: 500;
  line-height: am-unit(2);
  padding: am-unit(3.5) am-unit(0.5) am-unit(0.5);
  position: relative;
  text-align: left;
  width: 100%;
  z-index: 1;

  @include am-min-breakpoint($am-breakpoint-medium) {
    padding-left: am-unit(1);
    padding-right: am-unit(1);
    width: auto;
  }

  @include am-min-breakpoint($am-breakpoint-large + 1) {
    align-items: flex-end;
    min-height: am-unit(18);
  }
}

@mixin am-toolbar-title {
  @include am-type-title;
  @include am-type-smooth;
  line-height: am-unit(6);
  text-shadow: 0 1px 2px rgba(black, 0.17);

  @media screen and (min-width: $am-breakpoint-large + 1) {
    @include am-type-display-1;
  }
}

@mixin am-toolbar-left {
  flex-grow: 1;
  flex-shrink: 0;
  padding-left: am-unit(1);

  @media screen and (min-width: $am-breakpoint-large + 1) {
    padding-bottom: am-unit(0.5);
    padding-left: am-unit(2);
  }
}

@mixin am-toolbar-action {
  @include am-btn;
  @include am-btn-icon;
  display: block;
}
