/**
 * Header
 * Encapsulates several elements related to navigation at
 * the top of the page.
 */

#header {
  @include am-toolbar;
  @include am-toolbar-primary;
  padding-right: am-unit(8);
}

.site_title {
  @include am-toolbar-title;
  @include am-color(text-light);
  text-shadow: 0 1px 2px rgba(#000, 0.15);
}

#tabs {
  flex-grow: 1;
}

.header-item {
  @include am-toolbar-list;
}

.header-item > li {
  @include am-toolbar-item;

  > a {
    @include am-toolbar-item-primary;
    text-shadow: 0 1px 2px rgba(black, 0.15);
  }

  &.current > a {
    @include am-toolbar-item-primary-active;
  }
}

.has_nested {
  @include am-menu;

  ul {
    @include am-menu-list;

    li {
      @include am-menu-item;
    }

    li a {
      @include am-menu-link;
    }
  }

  &:hover ul,
  &:focus ul {
    @include am-menu-list-open;

    li a {
      @include am-menu-item-open
    }
  }

}
