html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

::selection {
  @include am-fill(accent);
  @include am-color(text-light);
}

html,
body {
  height: 100%;
}

body {
  @include am-type-body-1;
  @include am-color(text);
  @include am-font-family(sans);
  margin: 0;
}

img {
  max-width: 100%;
}

b,
strong {
  @include am-type-body-2;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
  margin: 0;
}

p {
  margin: am-type-unit(3) 0;
}

button,
input {
  @include am-font-family(sans);
}

button::-moz-focus-inner {
  padding: 0;
  border: 0
}

a {
  color: inherit;
  text-decoration: none;
  transition: 0.3s color;

  &:link,
  &:visited {
    @include am-color(primary);

    &:hover {
      text-decoration: underline;
    }
  }

  &:hover,
  &:focus {
    @include am-color(accent-hover);
    transition: 0.1s color;
  }

  &:active {
    @include am-color(accent-active);
    transition: 0.1s color;
  }
}

blockquote {
  border-left: 4px solid am-color(hint);
  margin: am-type-unit(4) 0;
  padding: am-type-unit(4);
}

hr {
  border: 0;
  border-bottom: 1px solid am-color(divider);
  margin: am-unit(4) 0
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

hr {
  margin: 0;
}
