%visually-hidden,
.hidden {
  clip: rect(0, 0, 0, 0) !important;
  position: absolute !important;
}

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}
