/// Standard logic for management of breakpoints
@mixin am-min-breakpoint($breakpoint) {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}

/// Assign a given font size in rems, falling back to pixel values
/// in older browsers.
/// @param {number} $size - Font size in pixels
@mixin am-font-size($size) {
  font-size: am-strip-units($size) + 0px;
  font-size: am-sp($size);
}
