@mixin min-breakpoint($breakpoint) {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}

@mixin font-size($pixels) {
  font-size: $pixels;
  font-size: sp($pixels);
}

@mixin web-font($family, $fallback: sans-serif) {
  font-family: $fallback;

  .wf-active & {
    font-family: $family;
  }
}
