@mixin am-min-breakpoint($breakpoint) {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}

@mixin am-font-size($size) {
  font-size: $size;
  font-size: am-sp($size);
}

@mixin web-font($family, $fallback: sans-serif) {
  font-family: $fallback;

  .wf-active & {
    font-family: $family;
  }
}
