/// Injects rules to visually hide an element
@mixin am-hidden {
  clip: rect(0, 0, 0, 0) !important;
  position: absolute !important;
}

@mixin am-not-hidden($position: initial) {
  clip: auto !important;
  position: $position !important;
}
