/// Nullify default list rules
@mixin am-list-blank {
  list-style: none;
  margin: 0;
  padding: 0;
}

/// Inject a rule for child <li> tags to use inline-block.
@mixin am-list-inline {
  li {
    display: inline-block;
  }
}
