/// Type Atoms
///
/// Mixins for manipulation of typography. These styles mirror the
/// Material Design standard
///
/// https://www.google.com/design/spec/style/typography.html

/// Applies rules for subheader text.
@mixin am-type-subheader {
  @include am-font-size(16);
  font-weight: 400;
  line-height: am-sp(24);
  letter-spacing: am-tracking(10);
}

/// Applies rules for heavier, more emphasized, body text.
@mixin am-type-body-2 {
  @include am-font-size(14);
  font-weight: 600;
  line-height: am-sp(24);
  letter-spacing: am-tracking(10);
}

/// Applies rules for standard body text.
@mixin am-type-body-1 {
  @include am-font-size(14);
  font-weight: 400;
  line-height: am-sp(20);
  letter-spacing: am-tracking(10);
}

/// Applies rules for caption text.
@mixin am-type-caption {
  @include am-font-size(12);
  font-style: normal;
  font-weight: 500;
  letter-spacing: am-tracking(20);
  line-height: am-sp(12);
}

/// Applies rules for button text.
@mixin am-type-btn {
  @include am-font-size(14);
  font-weight: 500;
  letter-spacing: am-tracking(10);
  line-height: am-sp(12);
  text-transform: uppercase;
}

/// Applies rules for smooth text anti-aliasing.
@mixin am-type-smooth {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
