$theme-primary: #009688 !default;
$theme-primary-600: #0F5B78 !default;
$theme-primary-700: #0D3C55 !default;

$theme-accent-fallback: #f44336 !default;
$theme-accent: #cddc39 !default;
$theme-error: #f44336 !default;
$theme-error-400: #FF695E;

$theme-backdrop: #eeeeee !default;
$theme-paper: #ffffff !default;
$theme-divider: #efefef !default;
$theme-hint-text: rgba(#000, 0.26) !default;
$theme-secondary-text: rgba(#000, 0.54) !default;
$theme-secondary-text-reverse: rgba(#fff, 0.54) !default;
$theme-tertiary-text: rgba(#000, 0.4) !default;
$theme-tertiary-text-reverse: rgba(#fff, 0.4) !default;
$theme-icon: $theme-secondary-text !default;
$theme-icon-reverse: $theme-secondary-text-reverse !default;
$theme-text: rgba(#000, 0.70) !default;
$theme-text-reverse: rgba(#fff, 0.87) !default;

$state-focus: rgba(#999, 0.2) !default;
$state-active: rgba(#999, 0.4) !default;
$state-disabled: rgba(#999, 0.1) !default;
