$am-elevation-0: 0 !default;
$am-elevation-1: 100 !default;
$am-elevation-2: 200 !default;
$am-elevation-3: 300 !default;
$am-elevation-4: 400 !default;
$am-elevation-5: 500 !default;
$am-elevation-fixed: 600 !default;
$am-elevation-top: 1000 !default;
