$elevation-0: 0 !default;
$elevation-1: 100 !default;
$elevation-2: 200 !default;
$elevation-3: 300 !default;
$elevation-4: 400 !default;
$elevation-5: 500 !default;
$elevation-fixed: 600 !default;
$elevation-top: 1000 !default;
