////
/// @group fonts
////

/// The default sans-serif font
$am-font-sans: 'RobotoDraft', sans-serif !default;

/// The weight of bold type
$am-font-weight-bold: 700;

/// The weight of semi-bold type
$am-font-weight-semi-bold: 600;

/// The weight of medium type
$am-font-weight-medium: 500;

/// The weight of regular type
$am-font-weight-regular: 400;

$am-fonts: (
  sans: $am-font-sans
);
