/**
 * Grid Units
 * http://www.google.com/design/spec/layout/metrics-and-keylines.html#metrics-and-keylines-baseline-grids
 */

$grid-base: 8px !default;
$grid-type: 4px !default;
$grid-icon: 4px !default;
