/**
 * Tabs
 * Theses show up on complicated forms, such as the Exhibit edit page.
 */

.nav-tabs {
  @include am-tabs;
  @include am-tabs-list;

  > li {
    @include am-tabs-list-item;
  }

  > li > a {
    @include am-tabs-btn;
  }

  > li.ui-state-active > a {
    @include am-tabs-btn-active;
  }

  > li.tab_with_errors > a {
    @include am-tabs-btn-error;
  }
}
