.action_items {
  display: table;

  .action_item {
    display: table-cell;

    a,
    button,
    [type="button"],
    [type="submit"] {
      @include am-action-item;
      display: block;
    }
  }
}
