/**
 * Blank Slate
 * This element appears whenever a resource can not display
 * any information. For example, the default homescreen.
 */

.blank_slate_container {
  @extend %type-body-1, %type-smooth;
  color: $theme-tertiary-text;
  font-weight: 600;
  text-align: center;
  padding: grid(3) grid(2);
}

.blank_slate {
  border: 1px dashed rgba(#000, 0.2);
  border-radius: 3px;
  display: inline-block;
  padding: 16px 24px;

  small {
    display: block;
    margin-top: grid(1);
  }
}
