/**
 * Breadcrumbs
 * Appear above the title to help users return to previous
 * steps in their flow.
 */

.breadcrumb {
  @include am-font-size(10px);
  background: rgba(black, 0.3);
  box-shadow: inset 0 -1px 3px rgba(black, 0.1);
  font-weight: 400;
  left: 0;
  letter-spacing: am-tracking(70);
  line-height: 24px;
  padding: 0 am-unit(2);
  position: absolute;
  text-transform: uppercase;
  top: 0;
  width: 100%;

  a {
    @include am-link(white, accent);
  }
}

.breadcrumb_sep {
  color: rgba(white, 0.24);
}
