/**
 * Forms
 */

fieldset.inputs {
  margin-bottom: am-unit(2);

  > ol {
    @include am-list-blank;
  }

  > legend {
    @include am-subheader;
    border: 0;
  }
}

.input {
  @include am-textfield;

  > label,
  .label > label {
    @include am-textfield-label;
  }

  &.string input,
  &.stringish input,
  &.numeric input {
    @include am-textfield-input;

    &[disabled="disabled"] {
      @include am-textfield-input-disabled;
    }
  }

  &.email input {
    @include am-textfield-input-email;

    &[disabled="disabled"] {
      @include am-textfield-input-disabled;
    }
  }

  &.password input {
    @include am-textfield-input-password;

    &[disabled="disabled"] {
      @include am-textfield-input-disabled;
    }
  }

  &.datepicker input {
    @include am-textfield-input-date;

    &[disabled="disabled"] {
      @include am-textfield-input-disabled;
    }
  }

  &.text textarea {
    @include am-textfield-input;
    @include am-textfield-textarea;

    &[disabled="disabled"] {
      @include am-textfield-input-disabled;
    }
  }

  select + input {
    margin-top: am-unit(2);
  }
}

.field_with_errors input {
  @include am-textfield-input-error;
}

.inline-hints {
  @include am-textfield-hint;
}

.inline-errors {
  @include am-textfield-hint;
  @include am-textfield-hint-error;

  + .inline-hints {
    display: none;
  }
}

abbr[title="required"] {
  @include am-textfield-required;
}

fieldset.actions,
.buttons {
  @include am-actions-footer;

  > ol {
    @include am-list-blank;
    @include am-list-inline;
  }

  .cancel a {
    @include am-btn-raised;
  }

  .cancel a {
    @include am-btn;
  }
}
