/**
 * Forms
 */

fieldset.inputs {

  > ol {
    @include am-list-blank;
  }

  > legend {
    @include am-subheader;
    padding-bottom: am-unit(1);
    border: 0;
  }
}

.input {
  @include am-textfield;

  > label,
  .label > label,
  .field_with_errors > label {
    @include am-textfield-label;
  }

  &.string input,
  &.stringish input,
  &.numberic input {
    @include am-textfield-input;
  }

  &.text textarea {
    @include am-textfield-input;
    @include am-textfield-textarea;
  }

  select + input {
    margin-top: am-unit(2);
  }

}

.input .field_with_errors input {
  @include am-textfield-input-error;
}

.inline-hints {
  @include am-textfield-hint;
}

.inline-errors {
  @include am-textfield-hint;
  @include am-textfield-hint-error;

  + .inline-hints {
    display: none;
  }
}

abbr[title="required"] {
  @include am-textfield-required;
}

fieldset.actions,
.buttons {
  @include am-actions-footer;

  > ol {
    @include am-list-blank;
    @include am-list-inline;
  }
}

.buttons {
  .cancel a {
    @include am-btn;
    @include am-btn-raised;
  }
}

.logged_in fieldset.actions {
  border: 0;
  padding-right: am-unit(1);

  li {
    vertical-align: top;
  }
}
