////
/// Login
/// This screen appears if no session is active
/// @group login
////

/// The background of the login page
$am-login-background: #333 asset-url("active_material/backdrop.jpeg") 50% 50%;

#login {
  @include am-dialog;
  margin: 0 auto;
  max-width: am-unit(50);

  h2 {
    @include am-hidden;
  }

  // This is the "forgot password" button
  > a {
    @include am-actions-footer;
  }

  // Annoying br included for whatever reason
  > br {
    display: none;
  }
}

body.logged_out {
  background: $am-login-background;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
