////
/// Login
/// This screen appears if no session is active
/// @group login
////

/// The background of the login page
$am-login-background: am-color(primary-700) !default;

#login {
  @include am-dialog;
  margin: am-unit(-4) auto 0;
  max-width: am-unit(50);

  h2 {
    @include am-hidden;
  }

  // This is the "forgot password" button
  > a {
    @include am-actions-footer;
  }

  // Annoying br included for whatever reason
  > br {
    display: none;
  }
}

body.logged_out {
  background: $am-login-background;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
