/**
 * Pagination
 * Typically appears on index pages, below tables
 */

.paginated_collection {

  .pagination_information,
  .download_links {
    @include am-type-caption;
    display: inline;
    line-height: am-unit(2);
    padding: am-unit(2);
    display: inline-block;
  }

  .download_links {
    @include am-min-breakpoint($am-breakpoint-large) {
      float: right; 
    }
  }
}

.paginated_collection_contents {
//  overflow: visible;
//  overflow-x: scroll;
  max-width: 100%;
}

.pagination {
  background: #fff;
  border-bottom: 1px solid #efefef;
  display: flex;
  justify-content: flex-end;
  padding: 0 am-unit(2);

  .page,
  .first,
  .prev,
  .next,
  .last {
    @include am-btn;
    min-width: am-unit(3);
  }
}
