/**
 * Pagination
 * Typically appears on index pages, below tables
 */

.paginated_collection {
  @extend .clearfix;
  clear: both;

  .pagination_information,
  .download_links {
    @extend %type-caption;
    padding: unit(2);
  }

  .pagination_information {
    float: left;
  }

  .download_links {
    line-height: unit(3);
    float: right;
    text-align: right;
  }
}


.pagination {
  background: #fff;
  border-bottom: 1px solid #efefef;
  display: flex;
  justify-content: flex-end;
  padding: 0 unit(2);

  .page,
  .first,
  .prev,
  .next,
  .last {
    @extend %btn;
    min-width: unit(3);
  }
}
