/**
 * Scopes
 * Theses appear above tables, providing the ability to filter rows
 */

.scopes {
  @include am-list-blank;
  @include am-list-inline;
  flex-grow: 1;
  text-align: right;
}

.scope {
  @include am-type-caption;
  margin-left: am-unit(1);

  a {
    @include am-link(secondary-text);
  }

  &.selected {
    font-weight: bold;

    a {
      @include am-color(primary);
    }
  }
}
