@keyframes am-sidebar-open {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }
  to {
    opacity: 1;
    transform: translateY(-24px);
  }
}

@keyframes am-sidebar-right {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

.am-sidebar-toggle {
  @include am-action-item;
}

body.am-sidebar-open {
  overflow: hidden;
}

#active_admin_content > #sidebar {
  flex-shrink: 0;
  min-width: am-unit(40);
  padding-right: am-unit(3);
  transform: translateY(-24px);
  width: am-unit(40);

  .am-sidebar-enabled:not(.am-sidebar-open) & {
    display: none !important;
  }

  .am-sidebar-open & {
    animation: 0.4s am-sidebar-open;
  }
}

.sidebar_section {
  @include am-paper;
}

.am-sidebar-backdrop {
  display: none;

  @media screen and (max-width: $am-breakpoint-medium) {  
    .am-sidebar-open & {
      @include am-drawer-backdrop;
      display: block;
    }
  }
}

@media screen and (max-width: $am-breakpoint-medium) {
  #sidebar {
    background: white;
    height: 100%;
    max-width: 400px;
    min-width: 0;
    padding: 0;
    position: fixed;
    right: 0;
    top: 0;
    transform: none;
    width: calc(100% - 56px);
    z-index: 101;
  } 

  .am-sidebar-open #sidebar {
    animation: 0.3s am-sidebar-right cubic-bezier(.07,.64,.48,1);
  }

  .sidebar_section {
    border-radius: 0;
    border: 0;
    box-shadow: none;
  }
}
