@keyframes am-sidebar-open {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }
  to {
    opacity: 1;
    transform: translateY(-24px);
  }
}

.am-sidebar-toggle {
  @include am-action-item;
  @include am-action-item-icon("search-light");
}

#sidebar {
  flex-shrink: 0;
  min-width: am-unit(40);
  padding-right: am-unit(3);
  transform: translateY(-24px);
  width: am-unit(40);

  .am-sidebar-enabled:not(.am-sidebar-open) & {
    display: none !important;
  }

  .am-sidebar-open & {
    animation: 0.4s am-sidebar-open;
  }
}

.sidebar_section {
  @include am-paper;
}
