////
/// Sortable
/// Generic styles for sortable elements. Leans on
/// jQuery UI for the bulk of work
/// @group sortable
////

/// The icon displayed within a sortable element's drag handle
$am-sortable-icon: asset-url("active_material/icons/reorder.svg") !default;
// The size of the draggable handle
$am-sortable-handle-size: am-unit(6);

.reorder-handle-col {
  display: none;
  padding: 0 0 0 am-unit(1);
  width: $am-sortable-handle-size;

  .am-js .ui-sortable & {
    display: table-cell;
  }
}

.reorder-handle {
  background: transparent $am-sortable-icon 50% 50% no-repeat;
  color: transparent;
  cursor: move;
  display: block;
  height: $am-sortable-handle-size;
  margin: 0 auto;
  opacity: 0.40;
  transition: 0.2s opacity;
  width: $am-sortable-handle-size;

  &:hover {
    opacity: 1;
  }
}

@keyframes lift {
  0% {
    box-shadow: none;
    transform: none;
  }

  100% {
    transform: perspective(2000px) translateZ(10px);
    box-shadow: 0 3px 5px rgba(black, 0.08);
  }
}

.ui-sortable-helper {
  animation: 0.1s lift;
  animation-fill-mode: backwards;
  z-index: 100;
}
