/**
 * Structure
 * Global structural elements
 */

.with_sidebar {
  display: table;
  position: relative;
  width: 100%;
  z-index: 1;

  #main_content_wrapper,
  #sidebar {
    display: table-cell;
    vertical-align: top;
  }

  #sidebar {
    padding-right: am-unit(3);
    width: am-unit(40);
    transform: translateY(-24px);
  }
}

.columns {
  padding: am-unit(3);
}
