/**
 * Structure
 * Global structural elements
 */

#wrapper {
  height: 100%;
  position: relative;
}

#main_content_wrapper {
  height: 100%;
  overflow: auto;
  width: 100%;
}

.with_sidebar {
  display: flex;
  position: relative;
  z-index: 1;

  @media screen and (min-width: $am-breakpoint-large + 1) {
    display: flex;
    width: 100%;

    #main_content_wrapper {
      box-shadow: 1px -0 0 am-color(divider);
      flex-grow: 1;
    }
  }
}

.columns {
  padding: am-unit(3);
}
