/**
 * Tables
 */

.table_tools {
  @extend %table-header;
}

.index_table,
.panel_contents table {
  @extend %table;

  th {
    @extend %table-column-heading;

    a {
      @extend %table-sort;
    }

    &.sorted-asc a {
      @extend %table-sort-asc;
    }

    &.sorted-desc a {
      @extend %table-sort-desc;
    }
  }

  tr {
    @extend %table-row;
  }

  tbody tr {
    &:hover {
      @extend %table-row-hover;
    }

    &.selected {
      @extend %table-row-selected;
    }
  }

  td {
    @extend %table-cell;

  }

  .col-selectable {
    @extend %table-cell-selectable;

    // ActiveAdmin wraps checkboxes in a div. This rule prevents
    // that div from messing up vertical alignment
    .resource_selection_cell {
      display: inline;
    }
  }

  td.col-actions {
    @extend %table-cell-actions;

    .table_actions {
      @extend %menu-list, %menu-list-right;
      top: 50%;
      margin-top: unit(-2);
      margin-right: unit(2);

      a {
        @extend %menu-link;
      }
    }

    &:hover,
    &:focus {
      .table_actions {
        @extend %menu-list-open;

        a {
          @extend %menu-item-open;
        }
      }
    }
  }

  td img {
    @extend %avatar;
    width: unit(6);
    height: unit(6);
  }

}
