/**
 * Titlebar
 */

.title_bar {
  @include am-toolbar-title;
  @include am-fill(primary);
  @include am-color(white);
  display: flex;
  padding-top: 28px;
  padding-bottom: 28px;
  position: relative;
  z-index: 1;

  #page_title {
    @include am-type-display-1;
    line-height: am-unit(3);
  }

  #titlebar_left {
    padding-top: 48px;
    padding-left: 8px;
    flex-grow: 1;
  }

  #titlebar_right .action_item a,
  #titlebar_right .action_item button {
    @include am-btn;
    display: block;
  }
}
