/**
 * Utility Nav
 * Displays current user and logout information
 */

#utility_nav {
  background: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="48px" height="48px" viewBox="0 0 48 48" enable-background="new 0 0 48 48" xml:space="preserve"> <path fill="#FFFFFF" d="M24,4C12.95,4,4,12.95,4,24s8.95,20,20,20s20-8.95,20-20S35.05,4,24,4z M24,10c3.311,0,6,2.69,6,6 c0,3.32-2.689,6-6,6c-3.31,0-6-2.68-6-6C18,12.69,20.69,10,24,10z M24,38.4c-5.01,0-9.41-2.561-12-6.44c0.05-3.97,8.01-6.16,12-6.16 s11.939,2.19,12,6.16C33.41,35.84,29.01,38.4,24,38.4z"/> </svg>') no-repeat;
  background-size: am-unit(5);
  width: am-unit(5);
  height: am-unit(5);
  margin-top: am-unit(-2.5);
  position: absolute;
  z-index: 2;
  top: 50%;
  right: am-unit(2);

  // Increase the hit region
  &:before {
    content: "";
    cursor: pointer;
    position: absolute;
    width: 90px;
    height: 50px;
    top: 0;
    right: -12px;
  }

  a {
    color: #333;
  }

  > li {
    &:first-child {
      margin-top: 45px;

      &:before {
        content: "";
        border: 7px solid transparent;
        border-bottom-color: #fff;
        top: -14px;
        right: 12px;
        position: absolute;
      }
    }

    border-top: 1px solid #d9d9d9;
    box-shadow: 0 1px 2px rgba(#000, 0.22);
    width: 200px;
    float: right;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background: #efefef;
    text-align: right;
    clip: rect(0, 0, 0, 0);
    opacity: 0;
    visibility: hidden;
    transition: 0.28s all;
    position: relative;

    a {
      @include am-btn;
    }
  }

  #current_user {
    background: #fff;
    text-align: center;
  }

  &:hover {
    > li {
      clip: initial;
      opacity: 1;
      visibility: visible;
    }
  }
}
