/**
 * Versions
 * A two-abreast display of a current version and draft version
 */

.column {
  float: left;
}

.committed-version-column,
.current-draft-column {
  margin-bottom: grid(4);

  .panel_contents {
    border-top: 1px solid $theme-divider;
  }
}

.header_action {
  padding: 0 10px;

  a,
  a:hover {
    text-decoration: none;
  }

  a.commit-link {
    color: $theme-accent;

    &:before {
      content: '\02713';
      padding-right: 5px;
    }
  }

  a.edit-link {
    color: $theme-primary;

    &:before {
      content: '\0270E';
      padding-right: 5px;
    }
  }

  a.preview-link {
    color: $theme-primary;

    &:before {
      content: '\026B2';
      display: inline-block;
      transform: translate(0, 2px) rotate(45deg);
      padding-right: 8px;
    }
  }

  a.discard-link {
    color: $theme-error;

    &:before {
      content: '\02716';
      padding-right: 5px;
    }
  }
}

.commit-draft {
  display: none;
  padding: 10px 15px;

  .input.string {
    padding: 0;
  }

  input[type=text] {
    width: calc(100% - 22px);
  }

  a.cancel-commit {
    font-size: 1em;
    padding: 7px 16px 6px;
  }

  p {
    margin-bottom: 1em;
  }

  .inline-hints {
    color: #666;
    font-size: 0.95em;
    font-style: italic;
    font-weight: normal;
    line-height: 1.5;
  }
}
